<div class="span2">
<div class="dropdown-break main-nav-bar">
  <a class="dropdown-toggle nav btn btn-inverse"
     data-toggle="dropdown-breaklock" href="<%= url %>"><%= name %></a>
  <div class="dropdown-menu nav-bg" role="menu"
       aria-labelledby="dLabel">
    <div class="container">
      <% if sections.nil? || sections.empty? %>
        <%= render :partial => 'shared/coming_soon' %>
      <% else %>
        <%= render :partial => "shared/menu_section",
                   :collection => sections,
                   :as => :section %>
      <% end %>
    </div>
  </div>
</div>
</div>