<ul class="nav nav-pills nav-stacked">
  <li class="section"><%= link_to "<i class='icon-chevron-down'></i>&nbsp;#{section.title}".html_safe, section.link.empty? ? section : section.link %></li>
  <%= render :partial => 'shared/menu_links',
             :collection => section.products + section.pages,
             :as => :page %>
</ul>