<div>
  <h2><%= link_to section.title, section %></h2>
  <div>
    <table class="table table-hover">
      <tbody>
      <%= render :partial => "shared/section_page",
                 :collection => section.pages,
                 :as => :page %>
      </tbody>
    </table>
  </div>
</div>