<div>
  <h2 class="text-center"><%= link_to section.title, section %></h2>
  <div>
    <table class="table table-hover">
      <tbody>
      <%= render :partial => "shared/section_page_row",
                 :collection => section.products + section.pages,
                 :as => :page %>
      </tbody>
    </table>
  </div>
</div>