<tr class="clickable"><td>
  <%= render :partial => 'shared/page_link', :locals => { :page => page } %>
  <% if !page.description.nil? %>
    - <%= link_to strip_tags(page.description), page %>
  <% end %>
</td></tr>
