<% if !sidebar.empty? %>
  <div class="span4 pull-right">
    <ul class="nav nav-list">
      <%= render :partial => "pages/links", :collection => sidebar, :as => :page %>
    </ul>
  </div>
<% end %>