<% unless defined? classes %>
    <li><%= link_to "#{page.name}".html_safe, page.url.empty? ? page : page.url %></li>
<% else %>
    <li class='#{classes}'><%= link_to "#{page.name}".html_safe, page.url.empty? ? page : page.url %></li>
<% end %>
