<% title @page.title %>

<% unless @page.content.empty? %>
  <div class="container content-holder">
    <% if content_for?(:title) %>
      <h1><%= yield :title  %></h1>
      <hr />
    <% end %>
    <%= @page.content.html_safe %>
  </div>
<% end %>