body {
  margin: 0;
  //background-color: saddlebrown;
  background-color: #463428;
}

body > div.container {
  //border: 1px solid #463428;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.beans-bg {
  height: 250px;
  width: 100%;
  min-width: 940px;
  background-image: image-url("beans_tall.png");
  background-repeat: repeat-x;
  background-position-x: center;
  //border-bottom: solid #463428 3px;
  border-bottom: solid saddlebrown 3px;
  position: absolute;
  z-index: -10000;
}

p.lead {
  background-color: sandybrown;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

//@media (min-width: 1200px) { ... }
//@media (min-width: 768px) and (max-width: 979px) { ... }
//@media (max-width: 767px) { ... }
//@media (max-width: 480px) { ... }

footer {
  //border-top: gray solid 1px;
  //background-color: lightgray;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.navbar-inner ul.nav {
  padding: 105px 0;
}

.hidden-menu-inner {
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 175px;
  //background-image: image-url("beans_blurred.png");
  background-color: rgba(0,0,0,0.80);
  border: solid 1px saddlebrown;
  box-shadow: 5px 5px 5px #000;
}

.hidden-menu {
  display: none;
  position: absolute;
  top: 145px;
  //background-color: sandybrown;
  //padding: 2px;
  //-moz-border-radius: 10px;
  //border-radius: 10px;
}

.nav li {
  margin: 0 30px;
}