//#463428=rgb(70,52,40), saddlebrown=rgb(139,69,19), #867468=rgb(134,116,104), sandybrown=rgb(244,164,96)
//@media (min-width: 1200px) { ... }
//@media (min-width: 768px) and (max-width: 979px) { ... }
//@media (max-width: 767px) { ... }
//@media (max-width: 480px) { ... }

@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  background-color: #000;
  background-image: image-url("beans_brown_tileable.png");
  background-position-x: center;
  background-attachment: fixed;
  color: rgb(134,116,104);
  min-width: 940px;
  padding: 190px 0 85px 0;
}

a {
  color: rgb(134,116,104);
}

a:hover {
  color: white;
}

.table td {
  border-top: 1px solid rgb(60,60,60);
  border-bottom: 1px solid rgb(60,60,60);
  color: rgb(134,116,104);
}

.table td a:hover {
  //color: rgb(134,116,104);
  text-decoration: none;
}

.table-hover tbody tr:hover > td a {
  color: white;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

div.container > div.content-holder > div > p {
  margin-top: 25px;
}

.lead {
  font-size: 21px;
  font-weight: 400;
  color: rgb(134,116,104);
}

h1, h2, h3, h4, h5 {
  font-family: 'Stint Ultra Condensed', Arial, serif;
  font-weight: 500;
  text-rendering: optimizelegibility;
  //color: rgb(134,116,104);
  color: white;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}

//$mid: rgba(15,15,15,0.95);
$edge: rgba(0,0,0,0.95);
$mid: lighten($edge, 3%);

.nav-bg {
  background-image: linear-gradient(bottom, $edge 0%, $mid 50%, $edge 100%);
  background-image: -o-linear-gradient(bottom, $edge 0%,  50%, $edge 100%);
  background-image: -moz-linear-gradient(bottom, $edge 0%, $mid 50%, $edge 100%);
  background-image: -webkit-linear-gradient(bottom, $edge 0%, $mid 50%, $edge 100%);
  background-image: -ms-linear-gradient(bottom, $edge 0%, $mid 50%, $edge 100%);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, $edge),
      color-stop(0.5, $mid),
      color-stop(1, $edge)
  );
  background-color: black;
  background-color: rgba(0,0,0,0);
  border-bottom: solid rgba(244,164,96,0.3) 5px;
  -webkit-border-image: image-url("border.png") 30 30 round; /* Safari 5 */
  -o-border-image: image-url("border.png") 30 30 round; /* Opera */
  border-image: image-url("border.png") 30 30 round;
  border-width: 1px 0 1px 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.95);
}

header {
  position: fixed;
  top: 0;
  height: 200px;
  width: 100%;
  z-index: 100;
}

.top-bg {
  position: fixed;
  width: 100%;
  z-index: -100;
}

.top-trans {
  top: 0;
  background-position-x: center;
  background-attachment: fixed;
  background-image: image-url("beans_brown_tileable.png");
  height: 75px;
}

.top-line {
  top: 75px;
  height: 50px;
}

.top-drop {
  top: 50px;
  height: 100px;
  border: 1px solid rgba(255,255,255,0.15);
  background-color: rgba(0,0,0,0.5);
  //-webkit-box-shadow: 0 0 20px rgb(0,0,0);
  //box-shadow: 0 0 20px rgb(0,0,0);
}

div.dropdown-menu:hover {
  display: block;
}

div.dropdown > a:hover + div.dropdown-menu {
  display: block;
}

.nav > li > a:hover {
  background-color: rgb(238,238,238);
  background-color: rgba(238,238,238,0.15);
  -moz-border-radius: 3px;
  border-radius: 3px;

}

div.main-nav-bar a.nav {
  margin: 0;
  font-weight: bold;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #171717;
}

div.main-nav-bar ul.nav {
  margin: 0;
  float: left;
  font-weight: bold;
  text-align: left;
}

div.main-nav-bar ul.nav li a {
  color: rgb(134,116,104);
}

div.main-nav-bar ul.nav li.section a {
  color: darkgray;
}

div.main-nav-bar ul.nav > li {
  margin: 0 10px;
}

.main-nav-bar > div.dropdown-menu {
  top: 110px;
  width: 100%;
  position: fixed;
}

.revert2 { left: -140px; }
.revert4 { left: -260px; }
.revert6 { left: -380px; }
.revert8 { left: -520px; }
.revert10 { left: -640px; }
.revert12 { left: -780px; }

.dropdown-toggle.nav {
  margin-bottom: 0;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.main-nav-bar {
  margin: 85px 0;
  text-align: center;
}

.content-holder {
  background-image: image-url('content_bg.png');
  -moz-border-radius: 10px 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 3px rgba(244,164,96,0.5);
  box-shadow: 0 0 5px rgba(244,164,96,0.5);
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(2, 2, 2, 0.28);
  border-left: 1px solid rgba(2, 2, 2, 0.28);
  border-top: 1px solid rgba(255, 255, 255, 0.27);
  border-bottom: 0;
  padding: 10px;
  margin-top: 20px;
}

.content-holder img {
  background-image: image-url('content_bg.png');
  -moz-border-radius: 5px 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 3px rgba(134,116,104,1);
  box-shadow: 0 0 5px rgb(255,255,255);
  border-right: 1px solid rgba(255, 255, 255, 0.27);
  border-left: 1px solid rgba(255, 255, 255, 0.27);
  border-top: 1px solid black;
  padding: 0px;
}

.content-holder > hr {
  border-top: 1px solid rgb(70,52,40);
  border-bottom: 0px solid rgb(134,116,104);
}

.img-logo {
  margin-right: 20px; // to counter gutter and center image
}

.carousel-caption p {
  margin-bottom: 20px;
  color: rgb(134,116,104);

}

.carousel, .content-holder {
  margin-bottom: 0px;
  box-shadow: 0 0 50px rgba(0,0,0,0.95);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 0 25px rgba(0,0,0,1);
}

footer ul.nav {
  margin: 0;
}

footer a {
  color: rgb(134,116,104);
}

footer a:hover {
  color: white;
}

.img-menu:hover {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

$edge: rgb(134,116,104);
$mid: rgb(70,52,40);

.dropdown-toggle.nav.btn, .btn-primary {
  background-image: -moz-linear-gradient(top, $edge, $mid);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, $edge, to($mid));
  background-image: -webkit-linear-gradient(top, $edge, $mid);
  background-image: -o-linear-gradient(top, $edge, $mid);
  background-image: linear-gradient(to bottom, $edge, $mid);
  background-repeat: repeat-x;
  border-color: $mid $mid darken($mid, 25%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: $edge;
  background-color: rgba(134,116,104,0.5);
  *background-color: $mid;
}

.dropdown-toggle.nav.btn:hover, .btn-primary:hover {
  background-color: rgb(70,52,40);
}

.currency {
  color: white;
  a {
    font-family: Verdana, Geneva, sans-serif;
  }
}

.product-content, .product-image {
  margin: 0 30px;
}

hr.lightrule {
  border-top: 1px solid #252525;
  border-bottom: 0px solid #3a3a3a;
}